body {
	font-family: 'Smokum', cursive;
}

h1 {
	margin: 20px;
	font-size: 2.3em;
}

p {
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
}

p span {
	color: green;
}

hr {
	width: 100%;
	color: white;
	font-size: 1px;
	border-style: solid;
	border-width: 2px;
}

audio {
	display: none;
}

#credits_link {
	font-size: 22px;
	color: #fff;
	text-align: right;
	cursor: pointer;
}

#credits {
	width: 1000px;
	height: 800px;
	background-color: black;
	position: absolute;
	margin: 0 auto;
	top: 0;
	z-index: 1000;
	display: none;
	color: #fff;
	overflow: hidden;
}

#credits_text {
	width: 550px;
	font-size: 30px;
	font-family: arial;
	position: absolute;
	left: 225px;
}

#credits_text p {
	margin-bottom: 25px;
}

#MJ {
	width: 75px;
	height: 150px;
	position: absolute;
	bottom: 0;
	margin: 20px;
	background-color: white;
	background: url(../images/g1.png) left top no-repeat;
	background-size: cover;
}

.walk {
	background-position: 0px 0;
	animation: walk 1s steps(3) infinite, trans 25s linear 1;
}

#back_link {
	cursor: pointer;
	font-size: 22px;
	font-family: 'Smokum', cursive;
	color: #fff;
	position: absolute;
	margin: 35px;
	right: 0;
	bottom: 0;
}

#playing_field {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#menu {
	background-color: black;
	width: 1000px;
	height: 800px;
	position: absolute;
	z-index: 999;
	font-size: 100px;
	color: #9B5643;
	text-align: center;
}

#start_game {
	font-size: 70px;
	cursor: pointer;
	color: #4C4589;
}

#restart {
	font-size: 90px;
	cursor: pointer;
	color: #bb671c;
	margin-top: 230px;
	position: absolute;
	left: 330px;
	z-index: 100;
	background-color: white;
	display: none;
}

#background {
	position: relative;
	height: 500px;
	background-image: url(../images/bg.png);
	background-size: contain;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

#header, #footer {
	height: 150px;
	background-color: black;
	color: white;
	font-size: 44px;
}

#footer {
	display: flex;
	justify-content: space-between;
}

#header {
	color: green;
	text-align: center;

}

#player_time {
	padding-top: 20px;
	margin-bottom: -25px;
}

#final_score {
	width: auto;
	height: 180px;
	background-color: white;
	position: absolute;
	left: 300px;
	top: 160px;
	padding: 15px 50px;
	border-radius: 20px;
	font-size: 70px;
	text-align: center;
	display: none;
}

#total {
	font-size: 90px;
	color: #6AB700;
}

#player_time, #gunman_time {
	color: white;
}

#reward {
	color: green;
}

#header p {
	margin: 10px;
}

#wrapper {
  width: 170px;
  position: absolute;
  top: 120px;
}

.left {
	left: 100px;
}

.right {
	left: 800px;
}

#wrapper.transition {
	transition: 4.5s;
	transition-timing-function: linear;
	left: 425px;
}

#wrapper.transition-right {
	transition: 4.5s;
	transition-timing-function: linear;
	left: 800px;
}

#wrapper.transition-left {
	transition: 4.5s;
	transition-timing-function: linear;
	left: 100px;
}

#gunman {
	position: absolute;
  	height: 320px;
  	z-index: 2;
}

.cursor {
	cursor: pointer;
}

.g1w {
	width: 165px;
}

.g2w {
	width: 148px;
}

.g3w {
	width: 136px;
}

.g4w {
	width: 170px;
}

.g5w {
	width: 156px;
}

#hat {
	position: absolute;
	z-index: 1;
}

/*Gunman #1*/
#hat.drop1 {
	width: 133px;
	height: 40px;
	left: 15px;
	background: url(../images/g1hat.png) left top;
	animation: hatg1 3s ease-in 1 forwards;
}

#gunman.walk1 {
	background-position: 0px 0;
	animation: walk1 0.3s steps(3) 15;
}

#gunman.fire1 {
	animation: fire1 0.2s steps(2) 1 forwards;
}

#gunman.won1 {
	animation: won1 0.8s steps(1) 1 forwards;
}

#gunman.lost1 {
	animation: gameLost1 1s steps(2) 4 forwards;
}

/*Gunman #2*/
#hat.drop2 {
	width: 133px;
	height: 40px;
	background: url(../images/g1hat.png) left top;
	animation: hatg1 3s ease-in 1 forwards;
}

#gunman.walk2 {
	background-position: 0px 0;
	animation: walk2 0.3s steps(3) 15;
}

#gunman.fire2 {
	animation: fire2 5.2s steps(3) 1 forwards;
}

#gunman.won2 {
	animation: won2 2.0s steps(1) 1 forwards;
}

#gunman.lost2 {
	animation: gameLost2 1s steps(2) 4 forwards;
}

/*Gunman #3*/
#hat.drop3 {
	width: 64px;
	height: 32px;
	left: 36px;
	background: url(../images/g3hat.png) left top;
	animation: hatg3 3s linear 1 forwards;
}

#gunman.walk3 {
	background-position: 0px 0;
	animation: walk3 0.3s steps(3) 15;
}

#gunman.fire3 {
	animation: fire3 5.2s steps(3) 1 forwards;
}

#gunman.won3 {
	animation: won3 2.0s steps(1) 1 forwards;
}

#gunman.lost3 {
	animation: gameLost3 1s steps(2) 4 forwards;
}

/*Gunman #4*/
#hat.drop4 {
	width: 150px;
	height: 80px;
	left: 5px;
	background: url(../images/g4hat.png) left top;
	animation: hatg4 3s ease-in 1 forwards;
}

#gunman.walk4 {
	background-position: 0px 0;
	animation: walk4 0.3s steps(3) 15;
}

#gunman.fire4 {
	animation: fire4 5.2s steps(3) 1 forwards;
}

#gunman.won4 {
	animation: won4 1.3s steps(1) 1 forwards;
}

#gunman.lost4 {
	animation: gameLost4 1s steps(2) 4 forwards;
}

/*Gunman #5*/
#hat.drop5 {
	width: 93px;
	height: 60px;
	left: 32px;
	background: url(../images/g5hat.png) left top;
	animation: hatg5 3s ease-in 1 forwards;
}

#gunman.walk5 {
	background-position: 0px 0;
	animation: walk5 0.3s steps(3) 15;
}

#gunman.fire5 {
	animation: fire5 5.2s steps(3) 1 forwards;
}

#gunman.won5 {
	animation: won5 1.3s steps(1) 1 forwards;
}

#gunman.lost5 {
	animation: gameLost5 1s steps(2) 4 forwards;
}

#gunman.scale {
	transform: scaleX(-1);
}

#background.shot {
	animation: bkgBlink 0.1s steps(2) 4;
}

#background.shot-lose {
	background-color: rgba(179, 14, 14, 0.96);
    background-blend-mode: luminosity;
}

#background.foul {
	background-color: rgba(0, 11, 255, 0.77);
    background-blend-mode: luminosity;
}

.remove {
	display: none !important;
}

.display {
	display: block !important;
}

.unvisible {
	visibility: hidden !important;
}

#message_foul p {
	animation: blink 0.2s alternate infinite;
}

#message_fire, #message_won, #message_lost, #message_foul, #message_gameover {
	width: auto;
	height: 60px;
	background-color: white;
	position: absolute;
	left: 350px;
	top: 10px;
	padding: 15px 50px;
	border-radius: 20px;
	font-size: 50px;
	text-align: center;
	display: none;
}

#message_fire:after, #message_foul:after {
	content: '';
	display: inline-block;
	border-top: 30px solid white;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	bottom: -30px;
	right: 100px;
}